
body{
    margin:0rem;
}


#all-content {
    margin:0 auto;
    max-width: var(--width-break);    
}

#text-Input {
    display: block;
    width: 50%;
    height:10vh;
    padding: 1rem;
    margin: 1rem;
    margin-left:25%;
}

#output {
    border: 1px solid black;
    height: 15vh;
    width: 50%;
    margin-left:25%;
    padding: 1rem;
    margin: 1rem;
    margin-left:25%;
}

#btn-translate{
    padding:1rem;
    margin: 1rem;
    background-color: rgb(245, 245, 31);
    margin-left:25%;
}

#output-title{
    margin: 1rem;
    margin-left:25%;
}

header{
    background-color: rgb(245, 245, 31);
    padding:1rem;
    text-align:center;
}

footer{
    background-color: rgb(245, 245, 31);
    padding: 2rem ;
    text-align: center;
    color:black;
    border-top-right-radius: 1rem;
}

footer p{
    width: 50%;
    text-align: center;
    margin-left:25%;
}